/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
    @import "~bootstrap/dist/css/bootstrap.css";
}
html{
    height: 100%;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f2f2f2;
    color: #1C2228;
    height: 100%;
    margin-top: 5%;
    float: center;
    
}
.image{
    margin:  5px;
    object-fit: contain;
    border: 2px solid #ccc;
    width: 400px;
    height: 400px;
}
.shadow{
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 5px 6px rgba(0, 0, 0, 0.3);
}
a {
    color: #44a4cd;
}
a:hover {
    color: #44a8cf;
}
