<div class="center center1">
  <div>
    <h1>{{user?.firstName}} {{user?.lastName}}</h1>
    <h6>E-mail:</h6>
    <h5>{{user?.username}}</h5>
  </div>
  <div class="middle">
    <p>All Permissions</p>
    <label class="switch noMargin">
      <input type="checkbox" (click)="Allpermissions()" [(ngModel)]="allPermission">
      <span class="slider round"></span>
    </label>
  </div>

  <div *ngFor="let permission of newPermissions">
    <div class="card text-center">
      <p class="card-title">{{permission.Permission}}</p>
      <label class="switch card-text">
        <input type="checkbox" [(ngModel)]="permission.Owns" (change)="EditUserPermissions(permission.permission)"
          class="slider">
        <span class="slider round"></span>
      </label>
    </div>
  </div>
  <button class="btn btn-light" (click)="UpdateUserPermissions()">Update Permissions</button>
</div>