.center {
  text-align: unset !important;
}
.col {
  border: 2px solid;
  position: relative;
}
.allpermissions {
  padding-left: 80%;
}

.switch {
  margin-left: 40%;
  display: inline-block;
  width: 47px;
  height: 28px;
  margin-bottom: 3%;
}

.noMargin {
  margin-left: 0px !important;
}

label {
  color: whitesmoke;
  margin: 2%;
}

p {
  color: whitesmoke;
  margin-bottom: -2%;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: darkorange;
}

input + .slider {
  background-color: lightsteelblue;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.card {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
  color: white;
  height: 150px;
  width: 25%;
  float: left;
  margin-bottom: 5%;
}

.card-body {
  color: #ffffff;
}

.btn {
  margin-left: 7%;
  width: 89%;
}

h5,
h6 {
  text-align: center;
  color: whitesmoke;
  margin-bottom: -3%;
}

.middle {
  width: 100%;
  text-align: center;
  margin-top: 9%;
}
