// CSS Reset, comment out if not required or using a different module
@import '~minireset.css/minireset';
@import url('https://fonts.googleapis.com/css?family=Muli:300,400');
/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
    @import "~bootstrap/dist/css/bootstrap.css";
}

h1{
    padding: 0.5% !important;
    font-size: 40px !important;
    font-family: 'Muli', sans-serif;
    margin: 0px !important;    
    text-align: center;  
    padding-top: 20px;
    color: white;
}

html{
    height: 100%;
}

.center {
    text-align: center;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 91%;
    overflow-y: auto;
    position:relative;
    width: 60%;
    background: rgba(204, 204, 204, 0.219);
    padding-right: 4em;
    padding-left: 4em;
    padding-bottom: 3em;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #e1e1e1;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #717171;
}

::-webkit-scrollbar-thumb:hover {
    background: #3f3f3f;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f2f2f2;
    color: #1C2228;
    height: 100%;
    padding-top: 73px;
    margin-top: 5%;
    float: center;
    background: url(https://stmed.net/sites/default/files/orange-wallpapers-25269-348265.jpg);
    //background: linear-gradient(to top left, #33cccc 0%, #666699 100%);
    -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.image{
    margin:  5px;
    object-fit: contain;
    border: 2px solid #ccc;
    width: 400px;
    height: 400px;
}
.shadow{
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 5px 6px rgba(0, 0, 0, 0.3);
}
a {
    color: #44a4cd;
}
a:hover {
    color: #44a8cf;
}

.card{
    background-color: rgba(0,0,0,.2);
    border: none;
    border-radius: 5px;   
    max-width: 28rem;
    text-align: center!important;
    position: relative;
    margin-left: 7%;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
}

.card-body{
    color: #ffffff;
}
.card-deck{
    max-width: 100%;
    padding-top: 50px;
}

@media screen and (max-width: 900px) {
    .center1 {
        text-align: center;
        margin: auto;
        margin-top: 2%;
        margin-bottom: 2%;
        height: 91%; 
        overflow-y: auto;
        position:relative;
        width: 100%;
    }
}

@import "~igniteui-angular/lib/core/styles/themes/index";
// Uncomment the following lines if you want to add a custom palette:
// $primary: #731963 !default;
// $secondary: #ce5712 !default;
// $app-palette: igx-palette($primary, $secondary);

@include igx-core();
@include igx-theme($default-palette);
