<div class="center">
  <h1>Verander wachtwoord</h1>
  <form>
    <input class="form-control form-control-lg" placeholder="Wachtwoord" type="password" [(ngModel)]="newPassword.password" [ngModelOptions]="{standalone: true}">
    <input class="form-control form-control-lg" placeholder="Herhaal wachtwoord" type="password" [(ngModel)]="newPassword.passwordConfirm" [ngModelOptions]="{standalone: true}">
    <button type="button" class="btn btn-light" (click)="ConfirmRegister()">Verander wachtwoord</button>
  </form>
</div>