input[type="text"],
select {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  text-align: center;
}

.changepassword {
  margin-top: 3%;
}

input{
  margin: 1%;
}

label{
  font-size: large;
  color: whitesmoke;
  margin-top: 2%;
}

.btn-secondary {
  font-weight: bold;
  color: black;
}

input[type="password"] {
  text-align: center;
}