<div class="center center1">
  <h1>{{user.firstName}} {{user.lastName}}</h1>
  <label for="FirstName" name="FirstName">Voornaam: </label><br>
  <input type="text" name="FirstName" [(ngModel)]="user.firstName" value="Voornaam" disabled>
  <br><br>
  <label for="LastName" name="LastName">Achternaam: </label><br>
  <input type="text" name="LastName" [(ngModel)]="user.lastName" value="achternaam" disabled><br>
  <p *ngIf="message !== ''">{{message}}</p>
  <button class="changepassword btn btn-light" data-toggle="modal" data-target="#exampleModal"
    (click)="changePassword = true">Verander wachtwoord</button>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">

    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Verander Wachtwoord</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div *ngIf="changePassword">
            <input type="password" class="form-control" placeholder="Oud wachtwoord"
              [(ngModel)]="newPassword.OldPassword">
            <input type="password" class="form-control" placeholder="Nieuw wachtwoord"
              [(ngModel)]="newPassword.NewPassword">
            <input type="password" class="form-control" placeholder="Bevestig nieuw wachtwoord"
              [(ngModel)]="newPassword.NewPasswordConfirm">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Sluiten</button>
          <button type="button" (click)="PasswordChanged()" data-dismiss="modal" class="btn btn-info">Bevestig</button>
        </div>
      </div>
    </div>

  </div>

</div>