<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div class="center center1">

  <div class="container">
    <h1>Locaties</h1>
    <button type="button" class="btn btn-light btn-md" data-toggle="modal" data-target="#exampleModal"
      (click)="i = true">
      Locatie Toevoegen</button>
  </div>
  <div class="right">
    <input class="search" type="text" [(ngModel)]="searchToken" placeholder="Zoeken naar ...">
  </div>
  <br>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Locaties</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let location of locations | filterPipeDep: searchToken">
        <td (click)="SpecificLocation(location.departmentId)">{{location.departmentName}}</td>
      </tr>
    </tbody>
  </table>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Locatie Toevoegen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="i">
          <input class="search" type="text" [(ngModel)]="location.locationName" name="Locatie" placeholder="Locatie">
          <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Sluiten</button>
        <button type="button" (click)="AddLocation()" data-dismiss="modal" class="btn btn-info">Bevestig</button>
      </div>
    </div>
  </div>

</div>