.search {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-align: left;
  padding: 0;
  height: 30px;
  position: relative;
  left: 0;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0, 0, 0, 0.15);
  background-color: white;
  font-size: 16px;
  width: 40%;
}

table {
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  border-radius: 8px !important;
  background-color: rgba(245, 245, 245, 0.644);
  color: black;
}

thead {
  background-color: rgb(245, 245, 245);
  color: black;
}

tbody {
  display: block;
  overflow-y: auto;
  width: 100%;
  max-height: 500px;
}

tr {
  display: block;
  width: 100%;
}

td,
th {
  text-align: center;
  display: block;
}

.center_shit {
  width: 100%;
  margin-bottom: 2%;
}

center,
.center1 {
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.right {
  text-align: left;
  margin-left: 3%;
}
