<div class="center center1">
  <h1>Producten</h1>
  <div class="location" *ngFor="let location of locations">
    <h3>{{location.departmentId.departmentName}}</h3>
    <div *ngFor="let lproduct of locationProducts">
      <div class="productDivWidth card" style="height: 228px !important;"
        *ngIf="lproduct.departmentId.departmentId == location.departmentId.departmentId">
        <div card-body>
          <p class="card-title">{{lproduct.productId.productName}}</p>
          <br>
          <img *ngIf="IsOrdered(lproduct.productId.productId) === null" src="{{lproduct.productId.productImage}}"
            class="product-image">
          <img *ngIf="IsOrdered(lproduct.productId.productId) === 'Openstaand'"
            src="https://image.flaticon.com/icons/svg/766/766744.svg" class="product-image">
          <img *ngIf="IsOrdered(lproduct.productId.productId) === 'Besteld'"
            src="https://image.flaticon.com/icons/svg/175/175461.svg" class="product-image">
          <img *ngIf="IsOrdered(lproduct.productId.productId) === 'Bezorgd'"
            src="https://image.flaticon.com/icons/svg/1519/1519014.svg" class="product-image">
          <br>
          <button *ngIf="IsOrdered(lproduct.productId.productId) === null" class="btn btn-sm btn-outline-light"
            data-toggle="modal" data-target="#exampleModal"
            (click)="OrderProduct(lproduct.productDepartmentId)">Bestel</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Product bijbestellen: {{orderProduct?.productId.productName}}
          </h5>
        </div>
        <div class="modal-body">
          <div>
            <label>Aantal: </label>
            <input type="text" name="Aantal" placeholder="Aantal" [(ngModel)]="amount"><br>
            <label>Belangrijk:</label>
            <label class="switch">
              <input type="checkbox" name="Snel" [(ngModel)]="urgent" required>
              <span class="slider round"></span>
            </label>
            <br>
          </div>
        </div>
        <div class="modal-footer">
          <button  type="button" (click)="CreateOrder()" data-dismiss="modal"
            class="btn btn-info">Bevestig</button>
          <button type="button" data-dismiss="modal" class="btn btn-danger">Sluiten</button>
        </div>
      </div>
    </div>
  </div>
</div>