.product-image {
  width: 100px;
  height: 100px;
}

.productDivWidth {
  width: 33%; 
  float: left;
}
.location {
  overflow: auto;
  padding: 10px;
  border-bottom: 1px solid whitesmoke;
}

h3 {
  padding: 0.5% !important;
  font-size: 25px !important;
  font-family: "Muli", sans-serif;
  margin: 0px !important;
  text-align: center;
  padding-top: 20px;
  color: white;
}
.specific-product-image {
  height: 40vh;
  width: auto;
}

input[type="text"],
select,
textarea,
select {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.btn-outline-light {
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  display: block !important;
  width: 10em;
  margin-bottom: 5%;
}

.switch {
  margin-top: 1.5%;
  margin-bottom: 1%;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: -6px;
  left: 0;
  right: -6px;
  bottom: 0;
  background-image: linear-gradient(to right, rgba(131, 183, 135, 1), rgba(13, 105, 154, 1));
  background-color: #ccc;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 32px;
  width: 32px;
  left: 4px;
  bottom: 4px;
  background-image: url("https://www.covadis.nl/images/favicons/favicon-32x32.png?v=2");
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

input:checked + .slider {
  background-image: linear-gradient(to left, rgba(131, 183, 135, 1), rgba(13, 105, 154, 1));
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px) scaleX(-1);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

p {
  font-size: large;
  margin-bottom: 0;
  color: white;
}

.card {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
  color: white;
  height: auto;
  width: 25%;
  float: left;
  margin-bottom: 5%;
}

.card-body {
  color: #ffffff;
}