table {
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    border-radius: 8px !important;
    background-color: rgba(245, 245, 245, 0.644);
    color: black;
  }

  thead {
    background-color: rgb(245, 245, 245);
    color: black;
  }

  td{
    text-align: center;
  }