<div class="center center1">
    <h1>Aangevraagde Producten</h1>
    <table class="table table-striped table-hover table-fit">
        <thead>
            <tr>
                <th class="header NoRightBorder">Product</th>
                <th class="header NoRightBorder NoLeftBorder">Motivatie</th>
                <th class="header NoLeftBorder">Locatie</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let request of requests" (click)="GoToRequest(request.requestProductId);">
                <td class="cell">{{request.productName}}</td>
                <td class="cell">{{request.motivation}}</td>
                <td class="cell">{{request.location.departmentName}}</td>
            </tr>
        </tbody>
    </table>
</div>