.logo{
    color: #1C2228;
    font-weight: bold;
}

.logo-left{
    background-color: orange;
    padding: 3px 5px 3px 3px;
    border-radius: 4px;
}

 .site-header__logo {
    overflow: hidden;
    position: relative;
    width:200px;
    height: 40px;
}

.navbar{
    border-bottom:1px solid rgba(0, 0, 0, 0.185);
    background-color: rgba(0, 0, 0, 0.185);    
    -webkit-box-shadow: 0px 9px 15px -12px rgba(54,54,54,1);
    -moz-box-shadow: 0px 9px 15px -12px rgba(54,54,54,1);
    box-shadow: 0px 9px 15px -12px rgba(54,54,54,1);
}

.navbar-light {
      .show > .nav-link,
      .active > .nav-link,
      .nav-link.show,
      .nav-link.active 
    {
        color: rgb(231, 231, 231);
        border-bottom: solid 2px rgb(231, 231, 231);
    }
    .nav-link {
        color: rgb(231, 231, 231);
    }
}


  