<div *ngIf="currentUser">
	<nav class="navbar navbar-expand-lg navbar-light  fixed-top">
		<img routerLink="/dashboard" routerLinkActive="active" class="site-header__logo"
			src="https://www.covadis.nl/images/logo.svg">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">

			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item">
					<a routerLink="/dashboard" class="nav-link" href="#" routerLinkActive="active">Dashboard</a>
				</li>
				<!-- <li class="nav-item">
					<a routerLink="/products" class="nav-link" href="#" routerLinkActive="active">Producten</a>
				</li> -->
				<li>
					<div class="dropdown">
						<a class="nav-link dropdown-toggle" type="" id="dropdownMenuButton" data-toggle="dropdown"
							aria-haspopup="true" href="#" aria-expanded="false">
							Producten
						</a>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" routerLink="/products" href="#">Producten</a>
							<a class="dropdown-item" routerLink="/requestproduct" href="#">Product Aanvragen</a>
							<a class="dropdown-item" routerLink="/requestedproducts" href="#">Aangevraagde producten</a>
						</div>
					</div>
				</li>
				<li class="nav-item">
					<a routerLink="/locations" class="nav-link" href="#" routerLinkActive="active">Locaties</a>
				</li>
				<li class="nav-item">
					<a routerLink="/orders" class="nav-link" href="#" routerLinkActive="active">Bestellingen</a>
				</li>
				<li class="nav-item">
					<a routerLink="/users" class="nav-link" href="#" routerLinkActive="active">Gebruikers</a>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item">
						<a routerLink="/settings/id" class="nav-link" routerLinkActive="active">{{currentUser.firstName}}
							{{currentUser.lastName}}</a>
					</li>
					<li class="nav-item">
						<a routerLink="" class="nav-link" (click)="logout()">Logout</a>
					</li>
				</ul>
			</form>
		</div>
	</nav>
</div>

<div *ngIf="!currentUser">
	<nav class="navbar navbar-expand-lg navbar-light fixed-top">
		<div class="navbar-collapse">
			<img  routerLink="/login" routerLinkActive="active" class="site-header__logo" src="https://www.covadis.nl/images/logo.svg">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li>
					<a class="nav-link" routerLink="/login"></a><br>
				</li>
			</ul>
		</div>
	</nav>
</div>