<div class="center1 ">
  <h1>Covadis Facility</h1>
  <div class="card-deck">
    <div class="card">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">Producten</h5>
        <p class="card-text">Totaal aantal producten: {{products?.length}}</p>
        <p class="card-text">Aangevraagde producten: {{requestedProducts?.length}}</p>
        <a routerLink="/products" routerLinkActive="active" class="mt-auto btn btn-light">Ga verder</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">Locaties</h5>
        <p class="card-text">Totaal aantal locaties: {{locations?.length}}</p>
        <a routerLink="/locations" routerLinkActive="active" class="mt-auto btn btn-light">Ga verder</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">Bestellingen</h5>
        <p class="card-text">Totale bestellingen: {{orders?.length}}</p>
        <p class="card-text">Openstaande bestellingen: {{openOrders?.length}}</p>
        <a href="/orders" class="mt-auto btn btn-light">Ga verder</a>
      </div>
    </div>
  </div>
</div>