.card{
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 5px;   
    max-width: 28rem;
    text-align: center!important;
    margin-left: 7.5%;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
    color: white;
}

.card-body{
    color: #ffffff;
}
.card-deck{
    max-width: 100%;
    padding-top: 50px;
}
@media screen and (max-width: 900px) {
     .card{
        background-color: rgba(0,0,0,.2);
        border: none;
        border-radius: 5px;
        margin-right: 20px;
        text-align: center!important;
        box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
    }
  }

$body-bg: transparent;

p, h5 {
    color: white;;
}

.empty {
    color: transparent;
}
