<div class="center center1">
    <h1>Product Aanvragen</h1>
    <form class="form1">
        <label for="Merk">Productnaam:</label><br>
        <input type="text" name="Merk" placeholder="Productnaam" [(ngModel)]="requestProduct.ProductName"
            [ngModelOptions]="{standalone: true}">
        <br>
        <label for="Motivation">Motivatie:</label><br>
        <textarea name="Motivation" [(ngModel)]="requestProduct.Motivation" [ngModelOptions]="{standalone: true}"
            placeholder="Motivatie"></textarea>
        <br>
        <label for="Merk">Locatie:</label><br>

        <select type="text" name="Location" placeholder="Selecteer een Locatie" [(ngModel)]="requestProduct.Location"
            [ngModelOptions]="{standalone: true}">
            <option *ngFor="let l of userLocations" [value]="l.departmentId.departmentId">
                {{l.departmentId.departmentName}}
            </option>
        </select>

        <input class="btn-light btn" type="button" name="Bevestigen" (click)="RequestProduct(); showSuccess()" value="Vraag dit aan">
    </form>
</div>