input[type="text"],
select,
textarea,
select {
  width: 50%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  text-align: center;
}

option {
  text-align: center !important;
}

.btn-light {
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  display: block !important;
  width: 10em;
}

label {
  color: whitesmoke;
}