<h1>T. Boerman &reg;</h1>
  <div id="traveler">
    <div id="bouncer">
      <div class="centerimg">
        <img
          src="https://media.licdn.com/dms/image/C4E03AQH8y2LScBgV0Q/profile-displayphoto-shrink_800_800/0?e=1561593600&v=beta&t=XQjkxjhm5Ihh8nGJOXyKPilet_EGdBsMmoFOLCIXg-E">
      </div>
  </div>
</div>
<!-- <div id="traveler">
  <div id="bouncer">
    <img src="https://www.covadis.nl/images/logo.svg">
  </div>
</div> -->