input[type="text"],
select,
textarea,
select {
  width: 40%;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin: 2%;
}

.btn-primary {
  margin: 2%;
}

input {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.aligntext,
.modal-body {
  text-align: center;
  align-content: center;
}

h4 {
  color: whitesmoke;
  margin-bottom: 2%;
}

p {
  color: whitesmoke;
  margin: -0.5%;
  // margin-bottom: 1%;
  font-size: 18px;
  cursor: pointer;
}

.border_bottom_modal {
  border-bottom: 1.5px solid silver;
}

label {
  margin-bottom: -1%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  text-align: left;
}

.container_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.child {
  flex: 1 0 23%;
  margin: 5px;
}

.centershit {
  margin-left: auto;
  margin-right: auto;
}

ul {
  text-align: left !important;
}

i {
  color: whitesmoke;
  cursor: pointer;
}
