<div class="center center1">
	<div class="container">
		<h1>{{existinglocation?.LocationName}}</h1>
		<button class="btn btn-light" data-toggle="modal" data-target="#locationModal">Verander locatienaam</button>
	</div>

	<div class="container">
		<div>
			<h4>Producten</h4>
			<ul>
				<p *ngFor="let product of locationproducts" (click)="RemoveProduct(product.productDepartmentId)">
					{{product.productId.productName}}</p>
			</ul>
		</div>
		<i data-toggle="modal" data-target="#productModal" value="NewProduct" class="fas fa-plus"></i>
		<div>
			<h4>Gebruikers</h4>
			<ul>
				<p class="child" *ngFor="let user of locationUsers" (click)="RemoveUser(user.userDepartmentId)">
					{{user.userId.userName}}
				</p>
			</ul>
		</div>
		<i data-toggle="modal" data-target="#userModal" value="NewUser" class="fas fa-plus"></i>
	</div>

	<!--add product modal-->
	<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Product toevoegen</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="border_bottom_modal">
						<label>Bestaand Product</label>
						<br>
						<select type="text" name="Products" placeholder="Selecteer een product" [(ngModel)]="product"
							[ngModelOptions]="{standalone: true}">
							<option *ngFor="let p of products" [value]="p.productId">
								{{p.productName}}
							</option>
						</select>
					</div>
					<label>Nieuw Product</label>
					<br>
					<input type="text" [(ngModel)]="newProduct.Name" class="productname" placeholder="Productnaam">
					<input type="text" [(ngModel)]="newProduct.Image" class="productimage" placeholder="Productplaatje">
					<input type="text" [(ngModel)]="newProduct.Shop" placeholder="Winkel">
					<input type="text" [(ngModel)]="newProduct.Link" placeholder="ProductLink">
					<label>Kort houdbaar?</label>
					<input type="checkbox" [(ngModel)]="newProduct.Durability" class="shortdurability">
					<div class="centershit">
						<button class="btn btn-primary" (click)="NewLocationProduct()">Toevoegen</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--add user modal-->
	<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Gebruiker toevoegen</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<select name="users" [(ngModel)]="user">
						<option *ngFor="let u of users" [value]="u.userId">{{u.username}}</option>
					</select>
					<div class="centershit">
						<button class="btn btn-primary" (click)="NewLocationUser()">Voeg gebruiker toe</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--verander locatie naam-->
	<div class="modal fade" id="locationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Verander locatienaam</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input type="text" name="Locatie" placeholder="Locatie" [(ngModel)]="existinglocation.LocationName">
					<button data-dismiss="modal" class="btn btn-primary" type="submit" (click)="EditLocation()">Naam van
						de locatie
						aanpassen</button>
				</div>
			</div>
		</div>
	</div>
</div>