<div class="center1 center">
  <div class="items-wrapper__item items-wrapper__item-small top-margin">
    <igx-tabs class="orange" tabsType="fixed">

      <igx-tabs-group label="Openstaand">
        <div *ngFor="let order of orders">
          <div class="productDivWidth">
            <div *ngIf="order.statusId.statusId == 1">
              <div class="info">
                <img class="product-image" src="{{order.productId.productImage}}">
                <span class="infotext">{{order.productId.productName}}</span>
              </div>
              <div>
                <br>
                <div *ngIf="order.isUrgent === true">
                  <input type="button" class="btn btn-danger" (click)="ConfirmOrder(order.orderId)" value="Besteld">
                </div>
                <div *ngIf="order.isUrgent !== true">
                  <input type="button" class="btn btn-light" (click)="ConfirmOrder(order.orderId)" value="Besteld">
                </div>
              </div>
            </div>
          </div>
        </div>
      </igx-tabs-group>

      <igx-tabs-group label="besteld">
        <div *ngFor="let order of orders">
          <div class="productDivWidth">
            <div *ngIf="order.statusId.statusId == 2">
              <div class="info">
                <img class="product-image" src="{{order.productId.productImage}}">
                <span class="infotext">{{order.productId.productName}}</span>
              </div>
              <div>
                <br>
                <div *ngIf="order.isUrgent === true">
                  <input type="button" class="btn btn-danger" (click)="Delivered(order.orderId)" value="Bezorgd">
                </div>
                <div *ngIf="order.isUrgent !== true">
                  <input type="button" class="btn btn-light" (click)="Delivered(order.orderId)" value="Bezorgd">
                </div>
              </div>
            </div>
          </div>
        </div>
      </igx-tabs-group>

      <igx-tabs-group label="Bezorgd">
        <div *ngFor="let order of orders">
          <div class="productDivWidth">
            <div *ngIf="order.statusId.statusId == 3">
              <div class="info">
                <img class="product-image" src="{{order.productId.productImage}}">
                <span class="infotext">{{order.productId.productName}}</span>
              </div>
              <div>
                <br>
                <div *ngIf="order.isUrgent === true">
                  <input type="button" class="btn btn-danger" (click)="Received(order.orderId)" value="Afgeleverd">
                </div>
                <div *ngIf="order.isUrgent !== true">
                  <input type="button" class="btn btn-light" (click)="Received(order.orderId)" value="Afgeleverd">
                </div>
              </div>
            </div>
          </div>
        </div>
      </igx-tabs-group>
    </igx-tabs>
  </div>
</div>