.product-image {
  width: 150px;
  object-fit: contain;
  height: 150px;
}

.productDivWidth {
  width: 33% !important;
  float: left !important;
}

.top-margin {
  margin-top: 5%;
}

//tooltip
.info {
  position: relative;
  display: inline-block;
}

.infotext {
  background-color: gray;
  color: #fff;
  border: solid 1px white;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  box-shadow: 2px 2px 2px #333;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  visibility: hidden;
  width: auto;
}

.info:hover .infotext {
  visibility: visible;
}

//carousel stuff ...
//TODO: neit laten vloeken met de rest van de site
