<div class="center center1">
  <div class="container">
    <h1>Gebruikers</h1>
    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#register">Gebruiker
      Toevoegen</button>
  </div>
  <div class="right">
    <input class="search" type="text" [(ngModel)]="searchToken" placeholder="Zoeken naar ...">
  </div>
  <br>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>E-mail</th>
        <th>Voornaam</th>
        <th>Achternaam</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users | filterPipeUsers: searchToken">
        <td (click)="SpecificUser(user.userId)">{{user.username}}</td>
        <td (click)="SpecificUser(user.userId)">{{user.firstName}}</td>
        <td (click)="SpecificUser(user.userId)">{{user.lastName}}</td>
        <td><a (click)="DeleteUser(user.userId)"><img class="delete"
              src="https://cdn.iconscout.com/icon/free/png-256/delete-737-475058.png" /></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Gebruiker registreren</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form1 centershit">
          <label for="FirstName">Voornaam:</label><br>
          <input type="text" name="FirstName" [(ngModel)]="registerUser.FirstName" placeholder="Voornaam"
            [ngModelOptions]="{standalone: true}"><br>
          <label for="LastName">Achternaam:</label><br>
          <input type="text" name="LastName" [(ngModel)]="registerUser.LastName" placeholder="Achternaam"
            [ngModelOptions]="{standalone: true}"><br>
          <label for="Username">Email:</label><br>
          <input type="text" name="Username" [(ngModel)]="registerUser.UserName" placeholder="Email"
            [ngModelOptions]="{standalone: true}"> <br>
        </form>
        <div class="centershit">
          <button class="btn btn-primary" (click)="CreateAccount()">Registreer user</button>
        </div>
      </div>
    </div>
  </div>
</div>