.user_card {
  height: 425px;
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  background: rgba(255, 136, 0, 0.849);
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  border: 5px solid rgb(201, 201, 201);
}
.brand_logo_container {
  position: absolute;
  height: 170px;
  width: 170px;
  top: -75px;
  border-radius: 50%;
  background: rgb(201, 201, 201);
  padding: 10px;
  text-align: center;
}
.brand_logo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid black;
}
.login_btn {
  width: 100%;
  background: #fee9b4 !important;
  color: black !important;
}
.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.login_container {
  padding: 0 2rem;
}
.input-group-text {
  background: rgb(201, 201, 201) !important;
  color: rgba(255, 136, 0, 0.849) !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #fee9b4 !important;
}

.btn-light {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  display: block !important;
  width: 10em;
  background-color: rgb(201, 201, 201);
}

.LoginText {
  text-align: center;
  margin-top: 20%;
  margin-bottom: 5%;
  color: whitesmoke;
}

.alert {
  margin-bottom: 0px !important;
}
.changepassword {
  text-decoration: black;
}

a {
  color: black;
}

a:hover {
  color: rgb(201, 201, 201);
}

i {
  border: solid blue($color: #000000);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 2px;
  margin-bottom: 1px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.modal-body {
  text-align: center;
}
