<div class="center center1">
    <h1>{{request?.productName}}</h1>
    <div>
    <button class="denybutton btn btn btn-danger" (click)="Deny()" name="Deny" value="DenyButton">Afwijzen</button>
    <button class="acceptbutton btn btn btn-success" (click)="Accept()" data-toggle="modal" data-target="#exampleModal"
        name="Accept" value="AcceptButton">Accepteren</button>
    
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Product accepteren:
                    {{orderProduct?.productId.productName}}
                </h5>
            </div>
            <div class="modal-body">
                <div>
                    <label>Productnaam: </label>
                    <input type="text" name="Name" placeholder="Productnaam" [(ngModel)]="newProduct.Name"><br>
                    <label>Productplaatje:</label>
                    <input type="text" name="Image" placeholder="Productplaatje" [(ngModel)]="newProduct.Image">
                    <br>
                    <label>Productwinkel:</label>
                    <input type="text" name="Shop" placeholder="Productplaatje" [(ngModel)]="newProduct.Shop">
                    <br>
                    <label>Productlink:</label>
                    <input type="text" name="Link" placeholder="Productlink" [(ngModel)]="newProduct.Link">
                    <br>
                    <label>Korte houdbaarheid:</label>
                    <input type="checkbox" name="Durability" [(ngModel)]="newProduct.Durability">
                    <br>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Sluiten</button>
                <button type="button" (click)="NewProductCreated()" data-dismiss="modal"
                    class="btn btn-info">Bevestig</button>
            </div>
        </div>
    </div>
</div>