<body>
  <div id="notfound">
    <div class="notfound">
      <div class="notfound-404">
        <h3>Oops! Not Authorised</h3>
        <h1><span>4</span><span>0</span><span>1</span></h1>
      </div>
      <h2>We are sorry, but you have no permission to see the requested page </h2>
      <a routerLink="/dashboard" routerLinkActive="active" class="btn btn-info">Terug naar dashboard</a>
    </div>
  </div>

</body>