<div class="center center1">
  <form>
    <h1>Locatie Toevoegen</h1>
    <div>
      <input class="locatie" type="text" [(ngModel)]="location.locationName" name="Locatie" placeholder="Locatie">
      <br>
      <input class="btn btn-secondary" type="submit" value="Toevoegen" (click)="AddLocation()">
    </div>
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  </form>
</div>