input[type="text"],
select,
textarea,
select {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.btn-secondary {
  margin-top: 4%;
  color: black;
  margin-left: auto;
  margin-right: auto;
  display: block !important;
  width: 10em;
  font-weight: bold;
}
